/* HSL */
$pink: hsla(349%, 52%, 64%, 1);
$purple: hsla(326%, 20%, 51%, 1);
$grey: hsla(228%, 10%, 38%, 1);
$dark_orange: hsla(8, 55%, 44%, 1);
$color5: hsla(11%, 55%, 61%, 1);
$dark_purple: #766D88;

/* RGB */
$pink: rgba(211, 115, 133, 1);
$purple: rgba(154, 105, 133, 1);
$grey: rgba(88, 92, 108, 1);
$dark_orange: rgba(173, 66, 50, 1);
$color5: rgba(210, 120, 100, 1);
