html {
	position: relative;
	height: 100%;
}

body {
	width: 90%;
	margin: 0 auto;
	font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;;
	font-size: 12px;
}

button {
	background-color: $dark_orange;
	text-transform: none;
	border: 1px 1px solid;
	border-color: $purple;
	color: white;
	font-weight: bold;
	padding: 7px 9px;
	border-radius: 3px;
	transition: background-color 0.3s;
	font-family: $sans-serif;
	font-size: 15px;
	text-align: center;
}
.standard-input {
  background-color: white;
  border-radius: 3px;
  border: 1px solid whitesmoke;
  font-size: 15px;
  padding: 13px;
  transition: 0.15s cubic-bezier(0.55, 0, 0.1 ,1);
  margin: 10px 0;
  box-sizing: border-box;
  appearance: none;

  &:focus {
    box-shadow: 0px 2px 8px 0px rgba(1,34,57,0.1);
    outline: none;
    border: 1px solid $dark_orange;
  }
}

a:hover {
	text-decoration: underline;
}

.hidden {
	display: none;
}

/*
	Font Elements
*/

h1 {
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
}

h2 {
	text-align: center;
	margin-bottom: 10px;
	font-weight: bold;
}

p {
	line-height: 16px;
}

img {
	width: 100%;
	height: 100%;
}

small {
	font-size: 9px;
	color: $grey;
	font-family: $sans-serif;
}

/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $grey;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}

/*
	Images
*/

.thumbnail {
	height: 100px;
	width: auto;
}

.thumbnail img {
	object-fit: cover;
}

/*
	Inputs
*/

.input-wrapper {
	display: flex;
	margin: 5px 0;
}

.input-wrapper input {
	flex: 1;
	font-family: $sans-serif;
	padding: 0 10px;
	border: 1px solid $grey;
	border-right: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-wrapper button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

input[type="search"] {
	padding: 5px;
}
