.standard-input {
  background-color: white;
  border-radius: 3px;
  border: 1px solid whitesmoke;
  font-size: 15px;
  padding: 13px;
  transition: 0.15s cubic-bezier(0.55, 0, 0.1 ,1);
  margin: 10px 0;
  box-sizing: border-box;
  appearance: none;

  &:focus {
    box-shadow: 0px 2px 8px 0px rgba(1,34,57,0.1);
    outline: none;
    border: 1px solid $dark_orange;
  }
}

.form-button:hover{
  background-color: $purple;
  border-color: $pink;
}

.cancel{
  color: $dark_purple;
  background: none;
  text-transform: none;
  border: 1px 1px solid;
  height: 15px;
  padding: 4px 8px 12px;

}



.cancel:hover{
  border-bottom: 2px solid $dark_orange;
  text-decoration: none;
  background-color: none;
}
