.home-group{
  display: flex;
  flex-direction: column;
}
.hero {
  display: flex;
  box-sizing: content-box;
  width: 100%;
  position: relative;
  padding-bottom: 20px;
}
.hero-image {
  width:100%;
  opacity: 0.7;
  filter: brightness(50%);
}

.hero-text {
  // background:rgba(255,255,255,0.15);
  border-radius: 30px;
  display: inline-block;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 45%;
  left: 35%;
  // -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $grey;
  text-shadow: white;
}


.hero-main{
  color: white;
  font-size: 56pt;
}


.text{
  text-outline: $grey;
  text-shadow: white;
  font-size: 30pt;
  color: $dark_orange;
  align-items: center;
  padding: 7px 9px;
}

.text:hover{
  border-bottom: 2px solid $dark_orange;
  text-decoration: none;
}

.explore{
  display: flex;
  flex-wrap: wrap;
  height: 200px;
}
.region-image-container{
  display: flex;
  position: absolute;
  padding: 30px 20px 0px 0px;
}
.region-image-container:last-of-type{
  padding-right: 0px;
}
.region-image{
  box-sizing: content-box;
  padding: 30px 20px 0px 0px;
  overflow: hidden;
  height: 300px;
  width: 100%;
  opacity: 80%;

}

.region-name{
  color: $pink;
  font-size: 40px;
  font-weight: bold;
  text-align: right;
  position: relative;
  padding: 0px 5px;
  // bottom: 50px;
  background: black;
}

@media screen and (max-width:680px){
  .text {font-size: 0.8rem}
}
@media screen and (max-width:540px){
  .text {font-size: 0.7rem}
}
