.home-group{
  display: flex;
  flex-direction: column;
}
.hero {
  display: flex;
  box-sizing: content-box;
  width: 100%;
  position: relative;
  padding-bottom: 20px;
}
.hero-image {
  width: 100%;
  filter: brightness(60%);
}

.hero-text {
  border-radius: 30px;
  font-family: 'Lobster';
  display: inline-block;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 18%;
  left: 35%;
  text-shadow: white;
  font-weight: normal;
}


.hero-main{
  color: white;
  font-size: 56pt;
}


.text{
  text-outline: $grey;
  text-shadow: white;
  font-size: 34pt;
  color: $dark_orange;
  align-items: center;
  padding: 7px 9px;
  filter: brightness(130%);
  font-weight: normal;
}

.text:hover{
  text-decoration: none;
  filter: brightness(100%);
}

.explore{
  display: flex;
  flex-wrap: wrap;
  height: 200px;
}

.region-image-container{
  display: flex;
  position: absolute;
  padding: 30px 20px 0px 0px;
}

.region:hover{
  cursor: pointer;
  border: 1px solid $dark_orange;
  padding: 0px;
}
.region-image-container:last-of-type{
  padding-right: 0px;
}
.region-image{
  box-sizing: content-box;
  padding: 30px 20px 0px 0px;
  overflow: hidden;
  height: 300px;
  width: 100%;
}

.region-name{
  color: $pink;
  font-size: 40px;
  font-weight: bold;
  text-align: right;
  position: relative;
  padding: 0px 5px;
  font-family: 'Lobster';
  background: black;
  line-height: 140%;
}

.region-name:hover{
  text-decoration: none;
  filter: brightness(130%);
}

@media screen and (max-width:680px){
  .text {font-size: 0.8rem}
}
@media screen and (max-width:540px){
  .text {font-size: 0.7rem}
}
