.home-group{
  display: flex;
  flex-direction: column;
}
.hero {
  display: flex;
  box-sizing: content-box;

  width: 100%;
  position: relative;
}
.hero-image {
  width:100%;
  opacity: 0.7;
}

.hero-text {
  // background:rgba(255,255,255,0.5);
  display: flex;
  // border: solid black 1px;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 45%;
  left: 35%;
  text-outline: $grey;
  text-shadow: white;
  // padding:1rem;
  // transform:translateY(-50%);
}


.hero-main{
  color: white;
  font-size: 48pt;
}


.text{
  text-outline: $grey;
  text-shadow: white;
  font-size: 30pt;
  color: $dark_orange;
  align-items: center;
}

.explore{
  display: flex;
  // box-sizing: content-box;
  flex-wrap: wrap;
  height: 200px;
}

.region{
  box-sizing: content-box;
  position: relative;
  padding: 10px 10px;
  // overflow: hidden;
  height: 300px;
  opacity: 80%;
}

.region-name{
  color: $pink;
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  bottom: 20%;
  left: 45%;
}

@media screen and (max-width:680px){
  .text {font-size: 0.8rem}
}
@media screen and (max-width:540px){
  .text {font-size: 0.7rem}
}
