.search-results{
  display: flex;
  justify-content: space-between;
}

.listings{
  display: flex;
  flex-wrap: wrap;
}
.map{

}

.map-container {
  display: flex;
  padding: 10px 10px;
  width: 700px;
  height: 700px;
  border: 1px solid $purple;
}

.listing-index-item{
  display: block;
  justify-content: flex-start;
  padding: 5px 5px;
}
.listing-index-image{
  height: 200px;
  width: 340px;
  overflow: auto;
  padding: 10px 5px;
}

.listing-title{
  color: $grey;
  font-weight: bold;
  font-size: 15px;
  text-align: left;
}

.listing-property_type{
  color: $purple;
}

.index-item-info{
  text-align: left;
  padding: 5px 5px;
}

.index-item-info:hover{
  cursor: pointer;
}
