.listing-item{
  box-sizing: border-box;
}

.all-info{
  justify-content: space-around;
  width: 800px;
  margin: 0 auto;
  padding-right: 50px;
}

.listing-info{
  float: left;
  justify-content: left;
  margin-top: 30px;

}
.listing-title{
  display: flex;
  justify-content: center;
}
.listing-image-div{
  height: 550px;
  overflow: hidden;
  margin: 0 auto;
}

.listing-image{
  // width: 100%;
}

.icons{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $grey;
  padding-bottom: 10px;
}

.guest-icon {
  height: 50px;
  width: auto;
}

.propery-type-icon {
  height: 50px;
  width: auto;
}
.booking-form{
  padding: 10px 10px;
  right: 250px;
  top: 440px;
  flex-direction: column;
  box-shadow: 0 2px 3px 2px;
}

.overview{
  display: flex;
  flex-direction: column;
}

.reviews{
  padding: 10px 10px;
}

.review-item{
  padding: 10px 10px;
}

li.region:hover{
  cursor: pointer;
}
