.search-results{
  display: flex;
  justify-content: space-between;
}

.listings{
  display: flex;
  flex-wrap: wrap;
}
.map{

}

.map-container {
  display: flex;
  padding: 10px 10px;
  width: 700px;
  height: 700px;
  border: 1px solid $purple;
}

.index-item-info{
  padding: 15px 15px;
  display: block;
  justify-content: flex-start;
}

.index-item-info:hover{
  cursor: pointer;
  border: 1px solid $dark_orange;
}

.listing-index-image{
  height: 200px;
  width: 340px;
  overflow: auto;
}

.listing-index-image:hover{

}

.listing-index-title{
  color: $grey;
  font-weight: bold;
  font-size: 15px;
  text-align: left;
}

.listing-property_type{
  color: $purple;
  font-size: 15px;
}

.index-rating{
  color: $dark_orange;
  font-size: 24px;

}

.index-review-count{
  color: $dark_purple;
  font-weight: bold;
  font-size: 14px;
}
.availability-search{
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 115px;
  width: 725px;
}

.search-results-title{
  border-bottom: 1px solid #dce0e0;
}
