.listing-item{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  // justify-content: center;
  padding: none;
  // position: relative;
}
.all-info{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  // position: absolute;
  // top: 400px;
  // left: 50%;
  width: 400px;
}
.listing-info{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.listing-title{
  display: flex;
  justify-content: center;
}
.listing-image{
  height: 400px;
  width: auto;
}


.icons{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $grey;
  padding-bottom: 10px;
}

.guest-icon {
  height: 50px;
  width: auto;
}

.propery-type-icon {
  height: 50px;
  width: auto;
}
.booking-form{
  padding: 10px 10px;
  position: fixed;
  right: 250px;
  top: 440px;
  flex-direction: column;
  box-shadow: 0 2px 3px 2px;
}

.overview{
  display: flex;
  flex-direction: column;
}
