.search-results{
  display: flex;
  // flex-direction: column;
  justify-content: flex-start;
  border: 1px 1px solid black;
  width: 900px;
}

.listings{
  display: flex;
  justify-content: flex-start;
  border: 1px 1px solid black;
}
.listing-image{
  height: 100px;
  // width: auto;
  overflow: hidden;
  border: 1px 1px solid black;

  // margin: 10px 10px;
  // border: 1px solid black;
  padding: 10px 10px;
  border-radius: 20px;
}

.listing-title{
  color: $purple;
  font-weight: bold;

}
.listing-property_type{
  color: $purple;
}
.index-item-info{
  margin: 10px 10px;
}

.map{
}
.map-container {
  margin: 10px 10px;
  width: 500px;
  height: 500px;
  border: 1px solid $purple;
}

li.region:hover{
  cursor: pointer;
}
