.header-group{
  display:flex;
	justify-content: space-between;
	// padding: 10px 0;
	border-bottom: 1px solid $grey;
}

// can use active style for current class
// .activeStyle {
//   background: blue;
// }

.login-signup{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  border: 1px solid grey;
}

.logo {
  height: 30%;
  width: auto;
}

.header-button{
  color: #766D88;
  background: none;
  text-transform: none;
  border: 1px 1px solid; 
  height: 15px;
  width: 50px
}


// .left-nav {
// 	margin-left: 20px;
// 	cursor: pointer;
// 	text-transform: uppercase;
// 	font-family: $sans-serif;
// 	font-weight: bold;
// 	font-size: 11px;
// 	padding: 7px 9px;
// 	transition: background-color 0.3s;
// }

.auth {
	margin-left: 5px;
	cursor: pointer;
  flex-direction: row;
}


@media all and (max-width: 1000px) {
  .right-nav button {
  	display: none;
  }
  .left-nav  {
  	margin: 0;
  }
  .main-nav {
  	padding: 20px 0;
  }
}
