.header-group{
  display:flex;
	justify-content: space-between;
	// padding: 10px 0;
	border-bottom: 1px solid $grey;
}

// can use active style for current class
// .activeStyle {
//   background: blue;
// }

.login-signup{
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
}

.logo {
  width: 15%;
  max-height: 40px;
}

.header-button{
  color: $dark_purple;
  background: none;
  text-transform: none;
  border: 1px 1px solid;
  height: 15px;
  padding: 4px 8px 12px;

}

.header-button:hover{
  border-bottom: 2px solid $dark_orange;
  text-decoration: none;

}
.sign-or-log-in {
  display: inline-block;
  margin-top: 8px;
  font-size: 15px;
}

.navlink{
  float: right;
  font-size: 15px;
}
// .left-nav {
// 	margin-left: 20px;
// 	cursor: pointer;
// 	text-transform: uppercase;
// 	font-family: $sans-serif;
// 	font-weight: bold;
// 	font-size: 11px;
// 	padding: 7px 9px;
// 	transition: background-color 0.3s;
// }

.auth {
	margin-left: 5px;
	cursor: pointer;
  flex-direction: row;
}


@media all and (max-width: 1000px) {
  .right-nav button {
  	display: none;
  }
  .left-nav  {
  	margin: 0;
  }
  .main-nav {
  	padding: 20px 0;
  }
}
