.header-group{
  display:flex;
	justify-content: space-between;
	// padding: 10px 0;
	border-bottom: 1px solid $grey;

}

.login-signup{
  margin-top: 5px;
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  width: 100%;
  border-bottom: 1px solid #dce0e0;
}

.logo {
  width: 15%;
  max-height: 40px;
  padding-bottom: 10px;
}

.header-button{
  color: $dark_purple;
  background: none;
  text-transform: none;
  border: 1px 1px solid;
  height: 15px;
  padding: 4px 8px 12px;

}
.logo:hover{
  border-bottom: 2px solid $dark_orange;
  text-decoration: none;
}
.header-button:hover{
  border-bottom: 2px solid $dark_orange;
  text-decoration: none;

}
.sign-or-log-in {
  display: inline-block;
  margin-top: 8px;
  font-size: 15px;
}

.navlink{
  float: right;
  font-size: 15px;
}
// .left-nav {
// 	margin-left: 20px;
// 	cursor: pointer;
// 	text-transform: uppercase;
// 	font-family: $sans-serif;
// 	font-weight: bold;
// 	font-size: 11px;
// 	padding: 7px 9px;
// 	transition: background-color 0.3s;
// }

.auth {
	margin-left: 5px;
	cursor: pointer;
  flex-direction: row;
}


@media all and (max-width: 1000px) {
  .right-nav button {
  	display: none;
  }
  .left-nav  {
  	margin: 0;
  }
  .main-nav {
  	padding: 20px 0;
  }
}

body {
	font-family: Helvetica, sans-serif;
}
.react-autosuggest__container {
	position: relative;
}
.react-autosuggest__input {
	width: 240px;
	height: 30px;
	padding: 10px 20px 10px 40px;
	font-family: Helvetica, sans-serif;
	font-weight: 300;
	font-size: 16px;
	border: 1px solid #aaa;
	border-radius: 4px;
}
.react-autosuggest__input--focused {
	outline: none;
}
.react-autosuggest__input--open {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.react-autosuggest__suggestions-container {
	display: none;
}
.react-autosuggest__suggestions-container--open {
	display: block;
	position: absolute;
	top: 51px;
	width: 300px;
	border: 1px solid #aaa;
	background-color: #fff;
	font-family: Helvetica, sans-serif;
	font-weight: 300;
	font-size: 16px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	z-index: 2;
}
.react-autosuggest__suggestions-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.react-autosuggest__suggestion {
	cursor: pointer;
	padding: 10px 20px;
}
.react-autosuggest__suggestion--highlighted {
	background-color: #ddd;
}
.inputContainer {
	position: relative;
}
.icon {
	position: absolute;
	top: 13px;
	left: 20px;
	width: 24px;
	height: 24px;
}

.header-profile-image {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  border: 1px solid;
  border-color: #c4c4c4;
}

.profile-dropdown {
  padding: 5px 0;
  height: 2
}

.profile-dropdown ul {
  display: none;
  border: 1px solid #dce0e0;
  padding: 10px;
  border-radius: 2px;
}

.profile-dropdown:hover ul {
  display: block;
  position: absolute;
  right: 50px;
  top: 55px;
  background-color: #fff;
  border-bottom: 1px solid #dce0e0;
  z-index: 1;
}

.profile-dropdown div {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #cecece;
  position: absolute;
  top: -10px;
  right: 5px;
}

.profile-dropdown li {
  display: block;
  width: 100%;
  float: none;
  line-height: 15px;
  border-bottom: 1px solid #dce0e0;
  width: 100px;
  padding-bottom: 5px;
}

.profile-dropdown li a {
  padding: 0;
}

.profile-dropdown li:last-child {
  border: 0;
  padding-top: 5px;
}

.profile-dropdown li:hover a {
  padding-left: 5px;
  font-weight: bold;
}

.header-search {
  display: inline-block;
}

.profile-dropdown-name:hover {
  cursor: default;
}

.profile-dropdown-name {
  color: $dark_purple;
  background: none;
  text-transform: none;
  border: 1px 1px solid;
  height: 10px;
  padding: 4px 8px 12px 10px;
  font-size: 15px;
}
