.review-form{
  border: 1px solid $purple;
  padding: 13px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10px;
}

.review-list{
  padding: 13px;
  width: 675px;
}

.review-item{
  padding: 20px;
  border-bottom: 1px solid #dce0e0;
}
.review-title{
  font-size: 19px;
  font: $sans-serif;
  font-weight: bold;
  padding: 5px;
}
.review-body{
  font-size: 17px;
  font: $sans-serif;
  padding: 5px;
}

.reviewer{
  display: flex;
  align-items: center;
  padding: 0px 0px 5px;
}
.reviewer-name{
  font-size: 22px;
  font-weight: lighter;
  padding: 0px 13px;

}
.reviewer-pic {
  height: 70px;
  width: 70px;
  border-radius: 50px;
  border: 1px solid;
  border-color: #c4c4c4;
}

.review-rating{
  font-size: 34px;
  color: $pink;
}
.review-form-errors{
  padding-bottom: 10px;
}

.delete{
  padding: 5px;
}
